html{
    background-color: gray;
}

.inicio {
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    background-color:gray;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    

}
.icono {
   width: 90px;
   height: 90px;
   display: flex;
   flex-wrap: wrap;
}
.seccion1{
    position: relative;
    background-color: yellow;
    width: 1250px;
    height: 500px;
   display: flex;
    flex-wrap: wrap;
    margin: auto;


}


.precentacion{
    object-position: top-left;
    position: absolute;
    color: gray;
    font-size: 70px;
    flex-wrap: wrap;
    
    
   


}
.lista1{
    position: absolute;
    flex-wrap: wrap;
    font-size: 40px;
    bottom: 20px;
}

 .foto1{
    position:absolute;
    flex-wrap: wrap;
    border-radius:50%;
    width: 300px;
    height: 300px;
    left: 900px;
    bottom: 100px;
   
    


 }   

.seccion2{
    display: flex;
    flex-wrap: wrap;
    
    
}
.seccion2 > div {
background-color: yellow;
margin: 30px;
padding: 30px;
font-size: 30px;
height: 200px;
width: 200px;
}

.fotocara1{
    height: 130px;
    width: 130px;
    border-radius: 50%;
    position: relative;
    flex-wrap: wrap;
    left: 35px;
}
.c1{
    font-size: 25px;
    position: relative;
    flex-wrap: wrap;
    
}




.teclasubir{
    
}